#main-nav{
  background-color: var(--gris-claro);
}
#main-nav ul{
  margin: 0;
  padding: 0;
}
#main-nav li{
  list-style: none;
}
.main-nav-link{
  display: block;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  background-color: var(--gris-claro);
  color: var(--negro);
}
.main-nav-link:hover {
  background-color: var(--gris-medio);
}