/* CONTAINERS */
.searchCity {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: height 2s ease;
  margin: 0;
  background-color: #111;
}
.hidden {
  position: relative;
  height: 10vh;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 50rem;
  padding: 1rem;
  margin: 0 auto;
}
/* INPUT CITY */
.inputCity {
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 1rem;
  animation-name: cityInputBorder;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.inputCity:focus{
  outline: none;
}

/* OPTIONS CONTAINER */
.cityOptions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  margin: 1rem auto 0 auto;
  width: 100%;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;

  /* SCROLL BAR HIDE */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
/* SCROLL BAR HIDE*/
.cityOptions::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* CITY OPTION */
.cityOption {
  padding: .5rem;
  border: none;
  border-radius: 1rem;
  background-color: #888;
  font-weight: bold;
  transition: 
    background-color .25s ease
  ;
}
.cityOption:hover{
  cursor: pointer;
  background-color: #fff;
  animation: cityInputBorder;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.hideOptions{
  display: none;
}

@keyframes cityInputBorder {
  0% {
    box-shadow: 0rem 0rem 0rem .25rem #f00;
  }
  25% {
    box-shadow: 0rem 0rem 0rem .25rem #0f0;
  }
  50% {
    box-shadow: 0rem 0rem 0rem .25rem #00f;
  }
  75% {
    box-shadow: 0rem 0rem 0rem .25rem #f0f;
  }
  100% {
    box-shadow: 0rem 0rem 0rem .25rem #f00;
  }
}
