.searchCityPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.searchCity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 4rem;
  border-radius: 50%;
  background-color: #FFF;
  box-shadow: 0 0 0 .2rem var(--violeta);
  --searchDimensions: 0px;
  transition: 
    width 1s ease,
    border-radius .5s 1s ease
  ;
}
.showSearch {
  border-radius: 1rem;
  justify-content: space-between;
  padding-left: 1rem;
  width: min(90%, 50rem);
  --searchDimensions: 100%;
  transition: 
    width 1s ease,
    border-radius .5s ease
  ;
}
.searchCity input{
  width: var(--searchDimensions);
  height: var(--searchDimensions);
  padding: 0;
  opacity: 1;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-weight: bold;
  color: var(--violeta);
  transition: 1s;
}
.searchCity input::placeholder{
  color: var(--violeta);
  opacity: .5;
}
.searchCity i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--violeta);
  width: 1rem;
  height: 1rem;
  padding: 2rem;
  cursor: pointer;
}
.searchTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--violeta);
  color: #fff;
  box-shadow: 0 .5rem 2rem 1rem var(--gris-medio);
}
.searchTitle h1 {
  font-size: 5rem;
  padding: 4rem 0;
  margin: 0 2rem;
  line-height: 1.25;
}
.searchTitle p {
  background-color: #fff;
  color: var(--violeta);
  border-radius: 0 0 1rem 1rem;
  margin: 0;
  padding: 1rem;
}

.cityOptions {
  display: flex;
  flex-direction: column;
  width: min(90%, 50rem);
  margin: 0 auto;
  height: 0;
  transition: height 1s ease;
  overflow-y: scroll;
  /* Scrollbar Styles for Firefox users*/
  scrollbar-color: var(--violeta) transparent;
  scrollbar-width: thin;
}
.cityOptions:has(button) {
  height: 40vh;
  transition: height 1s ease;
}
.cityOptions button{
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem 0;
  background-color: #fff;
  color: var(--violeta);
  transition: 
    background-color .5s ease,
    color .5s ease
  ;
}
.cityOptions button:hover{
  cursor: pointer;
  background-color: var(--violeta);
  color: #fff;
}
.cityOptions button:first-child{
  margin-top: 0;
}

/* Scrollbar Styles for the others */
.cityOptions::-webkit-scrollbar{
  width: 1px;
}
.cityOptions::-webkit-scrollbar-track{
  background-color: transparent;
}
.cityOptions::-webkit-scrollbar-thumb{
  background-color: var(--violeta);
  border-radius: 1rem;
}
