.weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}
.weatherInfo h1 {
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  background: #555;
  color: #fff;
  /* border: 1px solid yellow; */
}
.condition {
  width: 100%;
  padding: 1.5rem;
  background-color: #222;
  /* border: 1px solid rebeccapurple; */
  border-bottom: .5rem solid #111;
}
.condition p {
  margin: 0;
  font-weight: bold;
}
.currentTemp {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  /* border: 1px solid salmon; */
}
.currentTemp .tempCelcius {
  background: #f44;
  font-weight: bolder;
}
.currentTemp .tempFahrenheit {
  background: #77f;
  font-weight: bolder;
}
.currentTemp .lastUpdated{
  grid-column: 1/3;
  margin: 0;
  padding: 1rem;
  background-color: #222;
}